.Dashboards{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: darkslategray;
    width: 100%;
}

h1{
    margin: 10px;
}
h2{
    margin: 5px;
    margin-left: 5px;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    font-size: 1.5rem;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

#e1{
    color: blue;
}

#e2{
    color: red;
}
#e3{
    color: yellow;
}