.sidebar {
    background-color: darkcyan;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.sidebar-menu {
    background-color: rgb(1, 105, 105);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.sidebar-menu.active {
    left: 0;
    transition: 150ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 80px;
}

.nav-text:hover {
    background-color: rgb(0, 78, 78);
    border-radius: 10px;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar-menu-items {
    width: 100%;
    flex-direction: column;
}

.sidebar-toogle {
    background-color: rgb(1, 105, 105);
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars:hover {
    background-color: rgb(0, 78, 78);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    margin-left: 16px;
}