.auxcontent{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.text{
    background-color: whitesmoke;
    width: 13%;
    display: flex;
    flex-direction: column;
}
#dashboard_title{
    font-size: 3rem;
    color: darkcyan;
    margin-top: 5px;
}
.dashboardlabel{
    font-size: 1.3rem;
    margin-left: 10px;
    color: darkcyan;
    margin-top: 5px;
}
.line_text{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 600px;
    text-align: justify;
    width: 95%;
    background-color: lightblue;
    border: darkcyan solid 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.details{
    border: darkcyan solid 5px;
    margin-top: 10px;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cyan;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    cursor: pointer;
}
.Dashboards{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

.graph_line{
    display: flex;
}

.auxcard{
    margin: 5px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 600px;
    height: 600px;
    transition: 400ms;
    color: darkcyan;
    border: darkcyan solid 2px;
    background-color: white;
}

.auxcard:hover{
    background-color: lightblue;
}