.Dashboards{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
}

.graph_line{
    display: flex;
}

.card{
    margin: 5px;
    border-radius: 15px;
    border:darkcyan solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 650px;
    height: 500px;
    transition: 400ms;
    color: darkcyan;
}

.card:hover{
    background-color: rgb(185, 185, 185);
}