#container{
    background-color: white;
    height: 100vh;
}
#productsTable{
    color: black;
    margin-top: 100px;
}
#new-product{
    color: black;
    height: 15%;
}
#tableContainer{
    height: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.button{
    display: inline-block;
    margin: 20px;
}
.button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}