#container{
    background-color: white;
}
#productsTable{
    color: black;
    margin-top: 50px;
}
#new-user{
    color: black;
}
#tableContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    min-height: 200px;
}
.button{
    display: absolute;
    margin: 10px;
    left: 20px;
    top: 10px
}
.button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}